/* background by Elliott Brown */
/* body{margin: 0; padding: 0;  background-image: url("img/skyblue-bg.jpg"); background-size: 100%; background-position: center; background-attachment: fixed; background-repeat: no-repeat; color: black; font-family:Roboto, sans-serif;} */
body{margin: 0; padding: 0; font-family: Roboto, sans-serif; background-color: rgb(102, 45, 27);}
a{text-decoration: none;}
/* background: #2ecc71 */
#navigation{width: 100%; height: 90px;}
#navigation h1{float: left; font-size: 30px; font-weight: bold; padding: 5px; padding-left: 20px ;color: white;}
#navigation ul{float: left; padding-top: 9px; padding-right: 15px;}
#navigation li{list-style: none; float: left; margin-right: 15px;}
#navigation ul li a{color: white; font-size: 30px; font-weight: 100;}
/* martin wolf */
#navigation ul li a::after{content: ''; display: block; width: 0; height: 1px; background: white; transition: width .3s;}
#navigation ul li a:hover::after{width: 100%;}
/* flex w3school */
#demo{width: 100%; display: flex; flex-wrap: wrap; align-content: flex-start;}
.panel{max-width: 30%;float: left; margin: 22px;}
.panel img{max-width: 100%;}